// cine comienzo
.titulos {
    font-family: 'Shadows Into Light', cursive;
    color: #ffffff;
}

.videos {
    text-decoration: none;
    text-align: center;
    height: 400px;
    margin-top: 2rem;
}

.descripciones {
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
    letter-spacing: 1px;
}

.iframe {
    width: 100%;
    height: 45%;
}
// cine fin