/* historias comienzo */
.primerContainer {
  margin-top: 2rem;
}

.story {
  margin: auto;
  text-align: center;
}

h3 {
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;  
}

.img {
  width: 250px;
}

.txt {
  padding: 3px;
  font-size: 15px;
  color: #ffffff;
  font-family: 'Source Serif Pro', serif;
}

#judas {
  margin-left: 75%;
  margin-top: 1%;
  color: #8d0c0c;
  text-decoration: underline;
}

#strongheart {
  margin-left: 75%;
  margin-top: 1%;
  color: #8d0c0c;
  text-decoration: underline;
}
/* historias fin */